body {
    background-color: #9cfaff;
}

.todoWindow {
    background-color: #55618c;
    width: 350px;
    height: 500px;
    padding: 20px;
    margin: 50px auto;
}

.todoWindow input {
    width: 210px;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    background-color: #4f4d24;
    color: white;
}

.todoWindow input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.todoWindow input:focus {
    outline: none;
}

.todoWindow button {
    border: 0;
    border-radius: 5px;
    padding: 15px;
    background-color: #0db307;
    color: white;
    margin: 0 0 0 30px;
}

.todoWindow button:focus {
    outline: none;
}

.orta {
    width: 340px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    color: white;
}