.listItem {
    background-color: #e63c49;
    color: white;
    border-radius: 10px;
    margin: 10px 10px;
    position: relative;
}

.listItem p {
    padding: 10px;
}

.listItem p span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.listItem p input {
    background-color: transparent;
    padding: 5px;
}

.container {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 30px;
    top: 3px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "YAPILDI";
    position: absolute;
    display: none;
    font-size: 12px;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    bottom: 10px;
    right: 7px;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}